*,
*::after,
*::before {
      box-sizing: border-box;
}

body {
      --color-fond: #222A35;
      --green: #24aa60;
      --logo: #eee;
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100vh;
<<<<<<< HEAD
=======
      background: #2e2f35;
>>>>>>> ef4ab513e66aa49d734deb2df7e4707b0b5b69e0
}

.container {
      display: flex;
      flex-direction: column;

}

.home {
      height: 100vh;
      /* background: #1d1d1d; */
      /* background-color: #234; */
      background-color: var(--color-fond);
}

.logo {
      font-family: Poppins;
      line-height: 80px;
      margin-left: 2em;
      color: var(--logo);
      font-size: 15px;
      letter-spacing: 3px;
      font-weight: bold;
      text-transform: uppercase;
}

.logo ion-icon {
      color: var(--green);
      margin-right: 7px;
      position: relative;
      top: 1px;
}

.header {
      position: absolute;
      width: 90vw;
      top: 45%;
      left: 57%;
      margin-left: 1em;
      transform: translate(-50%, -50%);
}

h1.letters.name {
      margin-bottom: 1.3em;
}

.name {
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      font-size: 5em;
      font-size: 4vw; 
      margin-bottom: 0px;
}

h1.ml7.text-wrapper {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 3px;
}

.ml7 {
      position: relative;
      font-weight: 100;
}

.ml7 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
      font-family: 'Lato', sans-serif;

}

.ml7 .letter {
      transform-origin: 0 100%;
      display: inline-block;
      line-height: 1em;
      font-size: 7vw;

}

.about {
      top: 900px;
}

.contact {
      position: fixed;
      color: rgb(124, 124, 124);
      font-size: 12px;
      letter-spacing: 2px;
      font-family: Poppins;
      right: 100px;
      line-height: 80px;
      z-index: 1;
}

.menu {
      position: absolute;
      color: var(--green);
      right: 2em;
      top: 4px;
      line-height: 80px;
      z-index: 1;
}

.menu ion-icon {
      position: fixed;
      font-size: 24px;
}

.buttons {
      margin-top: 60px;
}

.btnContact {
      background: var(--green);
      border: none;
      padding: 14px 30px;
      color: #fff;
      font-size: 12px !important;
      letter-spacing: 4px;
      font-weight: 300;
}

.media {
      position: absolute;
      top: 38%;
      right: 6%;
      font-size: 1.5em;
}

.media ul {
      position: absolute;
      list-style: none;
}

.media ul li {
      color: grey;
      padding: 12px 0;
      display: inline-block !important;
}

.copyright {
      position: absolute;
      z-index: 1;
      color: grey;
      font-size: 15px;
      right: 0;
      font-family: Roboto;
      font-weight: 100;
      margin-right: 2em;
      bottom: 40px;
}

/* ///////////////////////////////////////////////////// */

.parallax-wrapper {
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
}

/* ///////////////////////// SECTIONS ///////////////////// */

/* ************** IMAGE TITLE ************** */
.background {
      background-position: center;
      background-size: cover;
      display: flex;
      flex: 1 0 auto;
      position: relative;
      z-index: -1;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
      transform: translateZ(-1px) scale(2);
}

.background--schools {
      background-image: url('img/formation.jpeg');
}

.background--road {
      background-image: url('img/route.jpg');
}

.background--skills {
      background-image: url('img/skills.jpeg');
}

.background--contact {
      background-image: url('img/contact.jpeg');
}

.big-title {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
      top: calc(50% - 50px);
      font-family: 'Lato', sans-serif;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      height: 100px;
      color: white;
      font-size: 5rem;
      background: rgba(0, 0, 0, 0.4);
}

/* ************** CONTENT ************** */
.section-desc {
      z-index: 1;
      position: relative;
      background: var(--color-fond);
      color: white;
      font-size: 1.1rem;
      letter-spacing: 2px;
      line-height: 2em;
      padding: 3rem;
      margin: 0;
      display: flex;
}

.desc-wrapper {
      min-height: 100vh;
      margin: auto;
      box-sizing: border-box;
      font-family: "Roboto";
      font-weight: 100;
}

.content--title {
      margin: 20px 0;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 5px;
      text-transform: uppercase;
}

.text--title {
      margin-top: 50px;
      padding: 0;
}

@media (max-width: 998px) and (orientation: portrait) {
      .section-desc {
            padding: 1.5rem 20px;
            font-size: 1rem;
            height: unset;
            min-height: 100vh;
            /* .season-title {
          font-size: 2.5rem;
          margin: 20px 0;
          letter-spacing: unset; */
      }

      .season-about {
            margin-top: 20px;
      }
}

/* ///////////////////////// ROTATION TITRE //////////////////////////// */


/* svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      width: 550px;
}

.mask-path {
      stroke: white;
      stroke-dasharray: 10000;
      -webkit-animation: drawIn 2.5s 1s ease-in both;
      animation: drawIn 2.5s 1s ease-in both;
} */